/* .card {
  width: 200px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin: 10px 5px;
  padding: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  border-radius: 5px;
  font-family: "Permanent Marker", cursive;
} */

.card {
  position: relative;
  padding: .75rem;
  margin: .75rem;
  width: 12rem;
  height: 7rem;
  border-radius: 5px;
  background-color: #ead3a7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  font-family: "Permanent Marker", cursive;
}

.card-title {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: #4c4c4c;
}

.header-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-header1 {
  display: flex-start;
  /* justify-content: start; */
}

.card-header2 {
  display: flex-end;
  /* justify-content: end; */
}

.img-remove {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s ease-in;
}

.img-remove:hover {
  background-color: #ffe66b;
}

.tag {
  position: absolute;
  bottom: .75rem;
  right: .5rem;
  padding: 4px 6px;
  text-align: center;
  overflow: hidden;

  color: #ffffff;
  font-size: .75rem;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #4c4c4c;

  transition: background-color 0.3s;
}